{% extends "base.html" %} 
{% block title %}Gallery{% endblock %}

{% block content %}

<style>

    /* GALLERY LAYOUT */
    .gallery {
      column-count: 3;
      column-gap: 15px;
      padding: 15px;
    }

    .gallery img {
      width: 100%;
      margin-bottom: 15px;
      border-radius: 12px;
      cursor: pointer;
      transition: transform 0.2s ease;
      display: block;
    }

    /* RESPONSIVE */
    @media (max-width: 1000px) {
      .gallery { column-count: 3; }
    }

    @media (max-width: 768px) {
      .gallery { column-count: 2; }
    }

    /* LIGHTBOX */
    .lightbox {
      display: none;
      position: fixed;
      z-index: 1000;
      padding-top: 50px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.9);
      text-align: center;
    }

    .lightbox img {
      max-width: 90%;
      max-height: 80%;
      border-radius: 10px;
    }

    .lightbox:target {
      display: block;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 40px;
      font-size: 40px;
      color: white;
      text-decoration: none;
    }
</style>

<h1 class="text-center mt-4 mb-3">Gallery</h1>


  <div class="gallery" id="gallery" style="visibility: hidden;">
    {% for img in images %}
        <img src="{{ url_for('static', filename='images/' + img) }}">
    {% endfor %}
  </div>

  <!-- LIGHTBOX -->
  <div id="lightbox" class="lightbox">
    <a href="#" class="close">&times;</a>
    <img id="lightbox-img">
  </div>

  <script>
      window.addEventListener("load", () => {
          document.getElementById("gallery").style.visibility = "visible";
      });
  
      const lightbox = document.getElementById("lightbox");
    const lightboxImg = document.getElementById("lightbox-img");
  
    const galleryImages = document.querySelectorAll("#gallery img");
    
    galleryImages.forEach(img => {
        img.addEventListener("click", () => {
            lightbox.style.display = "block";
            lightboxImg.src = img.src;
        });
    });
    lightbox.addEventListener("click", () => {
      lightbox.style.display = "none";
    });
  </script>

{% endblock %}